<%- include('header', { currentPage: 'personalized' }); -%>
    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
           <div class="container-fluid px-3 px-md-0">
            	<h3>Not Available</h3>
            	<hr>
            	<div class="alert alert-info">
            		<strong>We are sorry!:</strong><br>
                	It looks like there are no available meals for this calorie range yet.        	
		</div>
            </div>
        </section>
    </div>
<%- include('footer'); -%>
