<%- include('header', { currentPage: 'privacy' }); -%>
<div id="colorlib-main">
    <section class="ftco-section pt-4 mb-5 ftco-intro">
        <div class="container-fluid px-3 px-md-0">
            <h2>Privacy note</h2>
            <hr>
            <p>This website is hosted and managed by the research team of the <a href="http://www.hua.gr" target="_blank">Harokopio University of Athens (HUA)</a> that is involved in the research project <a href="https://www.fns-cloud.eu" target="_blank">FNS-Cloud</a>. You may contact the team by email (tserpes -at- hua -dot- gr). The website has been developed for research purposes and its functionality is offered only on the basis of demonstrations given by the HUA team. Any information provided cannot be considered valid and the HUA team and FNS-Cloud bear no liability on the use of that information. On sign up, the website collects information about the user and password which it maintains in an encrypted format. It also stores the timestamped results of the offered services associated to each account it uses them. Such results include the "risk score", the current inputed "weight" and the "weight loss goal", as well as the diet recommendations provided by the website. A signed up user may request to view a version of these stored data or request for the own data to be deleted by contacting the HUA team (tserpes -at- hua -dot- gr).</p>
        </div>
    </section>
</div>
<%- include('footer'); -%>