<%- include('header', { currentPage: 'home' }); -%>
<div class="col-md-12 mb-4">
    <h1 class="h2">Type 2 Diabetes Mellitus risk assessment and personalized tools</h1>
    <hr>
</div>
<div class="columns">
  <div>
    <div class="col-md-6">
        <h2 class="h4">About</h2>
        <hr>
        <p>A web-based app which provides T2D and HTN tools for performing risk calculations and receiving personalized recommendations</p>
    </div>
    <div class="col-md-6">
        <h2 class="h4">App Features</h2>
        <hr>
        <ul>
            &check; Estimate Type 2 Diabetes and Hypertension risk<br>
            &check; Set personalized goals:<br>
            &check; Complete form with characteristics and lifestyle habits<br>
            &check; Set weight goal<br>
            &check; Get personalized/recommended physical activities and/or diet plans<br>
            &check; Find closest specialists/nutritionists<br>
            &check; Keep track of progress on profile
        </ul>
    </div>
  </div>
  <div>
    <div class="col-md-6">
        <h2 class="h4">Contact</h2>
        <hr>
        <p>example@info.com</p>
    </div>
  </div>
</div>
<%- include('footer'); -%>
