<%- include('header', { currentPage: 'home' }); -%>

<div class="app-title">
    <h1 class="h2">Risk assesment tool for Type 2 Diabetes Mellitus and Hypertension & personalized diet and activity recommendation tools</h1>
    <hr>
</div>

<div class="app-content">
    <div>
        <h2>About</h2>
        <hr>
        <p>Healthwise is a web-based app that provides Type 2 Diabetes (T2D) and Hypertension (HTN) risk assessment tools, as well as personalized diet and activity recommendations. These tools are intended to inform and motivate individuals to seek professional assistance for health issues but are not designed to provide a diagnosis or replace the expertise of healthcare professionals. The risk assessment tools estimate an individual's risk score based on statistical data, while the personalized recommendation tool indicates the feasibility of a weight loss program tailored to preferred lifestyle and dietary choices.</p>
    </div>
    <div>
        <h2>App Features</h2>
        <hr>
        <ul>
            &check; Estimate Type 2 Diabetes and Hypertension risk<br>
            &check; Set personalized goals:<br>
            &check; Get personalized recommendations on physical activity and/or diet plans<br>
            &check; Keep track of progress on profile
        </ul>
    </div>
    <div>
        <div>
            <h2>Contact</h2>
            <hr>
            <p>info -at- hua -dot- gr</p>
        </div>
    </div>
    <div>
        <h2>Feedback</h2>
        <hr>
        <p><a href="https://forms.gle/cR2V9n6tAiKcG7h78">Feedback form</a></p>
    </div>
</div>

<%- include('footer'); -%>
