app-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

app-top * {
    background: transparent;
}

@media (min-width: 769px) { /* Laptops */
    .app-top {
        display: none;
    }
}

@media (min-width: 526px) and (max-width: 768px) { /* Tablets */
    .app-top {
        display: none;
    }
}

@media (max-width: 525px) { /* Mobiles */
    .app-top {
        padding: 30px;
        padding-bottom: 0;
    }
    .app-top img { 
        width: 25px; 
        height: 25px;
    }

    .app-top > .mobile-hidden {
        display: none;
    }
}
