app-top {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

app-top * {
    background: transparent;
}

@media (min-width: 426px) { /* Laptops, Tablets */
    .app-top {
        display: none;
    }
}

@media (max-width: 425px) { /* Mobiles */
    .app-top {
        padding: 30px;
        padding-bottom: 0;
    }
    .app-top img { 
        width: 25px; 
        height: 25px;
    }
}
