table {
    border-collapse: collapse;
    text-align: left;
    padding: 20px;
}
tr, th, td {
    max-width: 100%;
}
th, td {
    padding: 10px;
    border: solid 1px green;
}
td {
    overflow-x: hidden;
}

@media (min-width: 769px) { /* Laptops */
    table {
        table-layout: auto;
        max-width: 66ch;
    }
}

@media (max-width: 768px) { /* Tablets, Mobiles */
    table {
        table-layout: fixed;
        width: 100%;
    }
    table:not(.classic) tr {
        border: 1px solid green;
    }
    table:not(.classic) th, 
    table:not(.classic) td {
        display: block;
        border: none;
    }
    table:not(.classic) td { 
        padding-top: 0;
    }
    table:not(.classic) td > * {
        max-width: 100%;
    }
}
