form {
    border: 1.9px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    background: #fffbfb6b;
    margin-top: 20px;
}

label {
    text-align: left;
}

input {
    margin-right: 0;
    margin-left: auto;
    display: inline-block;
    max-width: 100%;
    padding: 6px 10px;
    font-family: "Poppins", Arial, sans-serif;
}

input[type=submit] {
    padding: 10px 15px 10px 15px;
    background: #3a903a;
    color: white;
    font-size: 18px;
    border: solid 1px grey;
    border-radius: 10px;
}

input[type=submit]:hover {
    background: #5fa75f;
}

select {
    max-width: 100%;
    padding: 5px 10px;
}

.buttons {
    text-align: justify;
    text-align-last: justify;
}

.buttons.account-info {
    text-align: center;
    text-align-last: center;
}
.buttons.account-info > a {
    display: inline-block;
    margin: 2px;
}

#previous-anchor {
    background: #3a903a;
    font-size: 18px;
    border-radius: 10px;
    padding: 11px 15px 11px 15px;
    color: white;
}
  
p.msg {
    outline: 1px solid black;
    padding: 2px 5px;
    background: #eaeaea;
    border-radius: 5px;
    color: black;
}

p.msg.error {
    color: #6d4e3f;
    background-color: #ffae86;
    border-color: #6d4e3f6b;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    max-width: 66ch;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-success hr {
    border-top-color: #b1dfbb;
}

.alert-success .alert-link {
    color: #0b2e13;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #6d4e3f;
    background-color: #ffae86;
    border-color: #6d4e3f6b;
}

.alert-warning hr {
    border-top-color: ##ffae86;
}

.alert-warning .alert-link {
    color: #533f03;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger hr {
    border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
    color: #491217;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

@media (min-width: 769px) { /* Laptops */
    form {
        width: max-content;
        padding: 50px;
    }

    label {
        display: inline-block;
        width: 300px;
    }
}

@media (min-width: 426px) and (max-width: 768px) { /* Tablets */
    form {
        width: 100%;
        padding: 30px;
    }
    label {
        width: auto;
        display: block;
        margin-bottom: 2px;
    }
    label[for="walkTrue"], label[for="walkFalse"],
    label[for="physTrue"], label[for="physFalse"] {
        display: inline-block;
    }
}

@media (max-width: 425px) { /* Mobiles */
    form {
        width: 100%;
        padding: 30px 10px;
    }
    label {
        display: block;
        margin-bottom: 4px;
    }
    label[for="walkTrue"], label[for="walkFalse"],
    label[for="physTrue"], label[for="physFalse"] {
        display: inline-block;
    }
    .buttons.account-info {
        padding-bottom: 20px;
    }    
}
