.app-left { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0ffe3;
    padding-right: 1rem;
    padding-bottom: 20px;
    /* border: 1px dotted black; */
}

.app-icon {
    width: 80px;
    display: block;
    align-self: center;
}    

.app-menu {
    display: flex;
}

.app-menu li {
    margin-top: .75rem;
    /* border: 1px dotted black; */
}

.app-menu a {
    color: green;
    text-decoration: none;
    background-color: transparent;
}

.app-menu a:hover {
    background: white;
}

.app-menu .active {
    background-color: white;
}

@media (min-width: 769px) { /* Laptops */
    .app-left { 
        width: 240px;
        justify-content: flex-start;
        border-right: solid 1px green;
        border-bottom: solid 1px transparent;
    }
    .app-icon {
        padding-top: 20px;
    }        
}

@media (min-width: 526px) and (max-width: 768px) { /* Tablets */
    .app-left { 
        width: 200px;
        justify-content: flex-start;
        border-right: solid 1px green;
    }
    .app-icon {
        padding-top: 20px;
    }
}

@media (max-width: 525px) { /* Mobiles */
    .app-left.mobile-hidden {
        display: none; 
    }
    .app-left { 
        width: 100%;
        justify-content: center;
        border-bottom: solid 1px green;
    }
}
