* {
    box-sizing: border-box;
}

:root {
    --bg-color: #e0ffe3bd;
    --fg-color: #302e35;
}

html {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    min-width: 250px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.app {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
}

@media (min-width: 769px) { /* Laptops */
    .app { flex-direction: row; }
}

@media (min-width: 426px) and (max-width: 768px) { /* Tablets */
    .app { flex-direction: row; }
}

@media (max-width: 425px) { /* Mobiles */
    .app { flex-direction: column; }
    .app .mobile-hidden {
        display: none; 
    }
}
